:root {
  /* TODO: Change RGB colors to HEX coded colors instead. */
  --main-border-color: rgb(230, 236, 240);
}

* {
  font-size: 13px;
  margin: 0px;
}

.application {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0px;
  width: 100vw;
}

.left, .right {
  height: 100%;
  width: 350px;
}

.main {
  border-width: 0px 1px;
  border-style: solid;
  border-color: var(--main-border-color);
  height: 100%;
  width: 600px;
}

.option {
  border-bottom: 1px solid var(--main-border-color);
  padding: 8px;
  width: 100%;
  height: fit-content;
}

.right {
  border-right: 1px solid var(--main-border-color);
}

